#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
    <div class="span8 offset2">
        <div class="hero-unit">
            <h1>Entraste!</h1>
            #{if user.isAdmin}
                <p>Bienvenido señor administrador!</p>
            #{/if}
            #{else}
                <p>Por ahora sos un usuario de poca monta :(</p>
            #{/else}
            <br>
            <a class="logout btn btn-primary btn-large btn-danger" href="@{Secure.logout()}">Log out</a>
        </div>
    </div>
</div>