#{extends 'main.html' /}
#{set title:'Aplicaciones - SIMS' /}


<div class="row">
    <div class="span8 offset2">
   	    <div class="page-header"><h3>Nueva Aplicación</h3></div>
		#{form @Application.postApp(), class:'form-horizontal'}
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="date">Nombre</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="name" name="name">
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="ownerName">Usuario a cargo</label>
                <div class="controls">
                      #{select 'ownerName', items:users, class:'input-large', labelProperty: 'username', valueProperty: 'username'}
                      #{/select}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Hash</label>
                <div class="controls">
                      #{select 'hash', items:hashTypes, class:'input-small', size:'2'}
                      #{/select}
                </div>
            </div>
		</fieldset>
		#{if flash.error}
		  <div class="alert alert-error">&{flash.error}</div>
		#{/if}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>
		#{/form}
    </div>
</div>