.login {
    margin-top: 50px;
}

.login .well {
    padding-top: 25px;
    padding-bottom: 0px;
}

.login .form-actions {
    text-align: right;
}

.navbar-inner {
	border-radius: 0;
}

.info-line {
    display: block;
    margin-top: 10px;
}
.info-line span:first-child {
    font-weight: bold;
    margin-right: 6px;
}
.info-line ul li {
    margin-top: 5px;
}

form.light-submit .btn-primary{
	margin-left: 375px;
}

.table tr th,
.table tr td {
	text-align: center;
}

.table tr td.enableUser {
	width: 10px;
}

.table tr td.userName {
    width: 100px;
}

form .listInput ul {
	float: left;
	margin-right: 25px;
	font-style: italic;
}

.modal-body {
	max-height: 400px;
}