#{extends 'main.html' /}
#{set title:'Políticas de Claves - SIMS' /}


<div class="row">
    <div class="span8 offset2">
	    <div class="page-header">
	    	<h3>Nueva Política de Claves</h3>
	   	</div>
		#{form @PasswordPolicies.postPasswordPolicy(), class:'form-horizontal'}
		<fieldset>
            <div class="control-group">
                <label class="control-label" for="date">Nombre</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Longitud Mínima</label>
                <div class="controls">
                    <input type="text" class="input-mini" id="passwordLength" name="passwordLength"> caracteres
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Período de validez</label>
                <div class="controls">
                    <input type="text" class="input-mini" id="duration" name="duration"> días
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Comparar con las últimas</label>
                <div class="controls">
                    <input type="text" class="input-mini" id="differentToLast" name="differentToLast"> claves
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Requisitos</label>
                <div class="controls">
                	<label class="checkbox">
                		<input type="checkbox" id="useUpperCaseLetters" name="useUpperCaseLetters">
                		A-Z
               		</label>
                	<label class="checkbox">
                		<input type="checkbox" id="useLowerCaseLetters" name="useLowerCaseLetters">
                		a-z
               		</label>
                	<label class="checkbox">
                		<input type="checkbox" id="useNumbers" name="useNumbers">
                		0-9
               		</label>
                	<label class="checkbox">
                		<input type="checkbox" id="useSpecialCharsLetters" name="useSpecialCharsLetters">
                		caracteres especiales (
                		#{list items:specialChars, as:'charr'}
                			${charr}
                		#{/list})
               		</label>
                </div>
            </div>
		</fieldset>
		#{if flash.error}
		  <div class="alert alert-error">&{flash.error}</div>
		#{/if}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>
		#{/form}
    </div>
</div>