#{extends 'main.html' /}
#{set title:'Política de Claves - SIMS' /}


<div class="row">
    <div class="span8 offset2">
	    <div class="page-header"><h3>Política de Claves</h3></div>
	    #{form @PasswordPolicies.setActive()}
	    <table id="passPolicyData" class="table">
	        <thead>
	            <tr>
	                <th>Activa</th>
	                <th>Nombre</th>
	                <th>Período validez</th>
	                <th>Longitud mínima</th>
	                <th>Comparar con anteriores</th>
	                <th>Mayúsculas</th>
	                <th>Minúsculas</th>
	                <th>Números</th>
	                <th>Caracteres especiales</th>
	            </tr>
	        </thead>
	        <tbody>
			    #{list policies, as:'pp'} 
			    <tr>
			       <td><input type="radio" name="policyName" value="${pp.name}"
			       		#{if currentPolicy != null
			       			&& pp.id == currentPolicy.id} 
			       			checked="checked"
			       		#{/if}
			       		>
		       		</td>
			       <td>${pp.name}</td>
			       <td>${pp.duration}</td>
			       <td>${pp.passwordLength}</td>
			       <td>${pp.differentToLast}</td>
			       <td><input type="checkbox" disabled="disabled" #{if pp.useUpperCaseLetters} checked="checked" #{/if}></td>
			       <td><input type="checkbox" disabled="disabled" #{if pp.useLowerCaseLetters} checked="checked" #{/if}></td>
			       <td><input type="checkbox" disabled="disabled" #{if pp.useNumbers} checked="checked" #{/if}></td>
			       <td><input type="checkbox" disabled="disabled" #{if pp.useSpecialCharsLetters} checked="checked" #{/if}></td>
			    </tr>
			    #{/list}
	        </tbody>
	    </table>
	    <div class="form-actions">
	        <button type="submit" class="btn btn-primary">Guardar</button>
	        <a href="@{PasswordPolicies.create}" class="btn">Nueva política</a>
        </div>
	    #{/form}
		#{if flash.success}
	      <div class="alert alert-success">${flash.success}</div>
	    #{/if}
    </div>
</div>